.rounded-40 {
    border-radius: 40px;
}

.pic-blue {
    background-image: url('../../ui-kit/froala/shapes/7.svg');
    background-repeat: no-repeat;
}

@media screen and (max-width: 2560px) {
    .foto {
        width: 500px;
        height: 500px;
    }
    .pic-blue {
        background-position: left 50% center;
        background-size: 400px, cover;
    }
}
@media screen and (max-width: 1440px) {
    .foto {
        width: 450px;
        height: 450px;
    }
    .pic-blue {
        background-position: left 50% center;
        background-size: 400px, cover;
    }
}
@media screen and (max-width: 1024px) {
    .foto {
        width: 430px;
        height: 430px;
    }
    .pic-blue {
        background-position: left 60% center;
        background-size: 380px, cover;
    }
}
@media screen and (max-width: 768px) {
    .foto {
        width: 355px;
        height: 355px;
    }
    .pic-blue {
        background-position: left 40% center;
        background-size: 300px, cover;
    }
}
@media screen and (max-width: 425px) {
    .foto {
        width: 395px;
        height: 395px;
    }
    .pic-blue {
        background-position: left 40% center;
        background-size: 300px, cover;
    }
}
@media screen and (max-width: 375px) {
    .foto {
        width: 345px;
        height: 345px;
    }
    .pic-blue {
        background-position: left 50% center;
        background-size: 290px, cover;
    }
}
@media screen and (max-width: 320px) {
    .foto {
        width: 290px;
        height: 290px;
    }
    .pic-blue {
        background-position: left 60% center;
        background-size: 280px, cover;
    }
}